name: Lint

on:
  push:
    branches:
      - master
      - add-frontmatter
  pull_request:
    branches:
      - master
      - add-frontmatter

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          sudo apt-get -y update && sudo apt-get -y install shellcheck
          find $GITHUB_WORKSPACE -type f -and \( -name "*.sh" \) | xargs shellcheck

  editorconfig:
    name: Editorconfig
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 8.x
      - run: npm install editorconfig-checker
      - run: ./node_modules/.bin/editorconfig-checker -verbose
